.idea
.gradle/
browsermob-proxy/
wilma-application/
wilma-functionaltest/
wilma-message-search/
wilma-test/
wilma-service-api/
wilma-service-api-net/
wilma-extras/
build/
wilma.iml
wilma.ipr
wilma.iws
gradle/
gradlew
gradlew.bat