.idea
.gradle
.settings
.project
.classpath
.checkstyle
wilma-application/modules/wilma-engine/log
wilma-application/modules/wilma-engine/messages
wilma-message-search/modules/wilma-message-search-engine/log
*.iml
*.ipr
*.iws
build
bin
release
wilma-functionaltest/resources/savedStubConfig.xml
wilma-functionaltest/gepard-run.log
browsermob-proxy/gradlew
browsermob-proxy/gradlew.bat
browsermob-proxy/gradle
