.idea
.gradle
.settings
.project
.classpath
.checkstyle
wilma-application/modules/wilma-engine/log
wilma-application/modules/wilma-engine/messages
wilma-message-search/modules/wilma-message-search-engine/log
wilma-message-search/modules/wilma-message-search-engine/indexes/
*.iml
*.ipr
*.iws
build
bin
release
out
wilma-functionaltest/resources/savedStubConfig.json
wilma-functionaltest/gepard-run.log
wilma-functionaltest/gradle
wilma-functionaltest/gradlew*
wilma-functionaltest/resources/src/**/*.class
wilma-functionaltest/classes
browsermob-proxy/gradlew
browsermob-proxy/gradlew.bat
browsermob-proxy/gradle
wilma-test/wilma-test-server/gradle
wilma-test/wilma-test-server/gradlew*
wilma-test/wilma-test-client/gradle
wilma-test/wilma-test-client/gradlew*
wilma-service-api/gradle
wilma-service-api/gradlew*
wilma-service-api-net/wilma-service-api/nuget.exe
wilma-application/modules/wilma-engine/config

