.config-set {
  margin-top: 40px;
}

.table th.button-group-center,.table td.button-group-center {
	text-align:center;
}

.table th.button-group-right,.table td.button-group-right {
    text-align:right;
}

.table-head-faded{
	background-color:#E6E6E6;
}

.mode-btn.active,.btn-stub.active {
  color: white;
  background-color: #5bb75b;
}

.btn-group>.red {
  color: white;
  background-color: #d74b46;
  text-shadow: 0px 0px 0px;
}

.mode-btn,.btn-stub {
  color: white;
  background-color: rgb(185, 185, 185);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgb(185, 185, 185)
    ), to(rgb(155, 155, 155) ) );
  background-image: -moz-linear-gradient(top, rgb(185, 185, 185),
    rgb(155, 155, 155) );
  background-image: -o-linear-gradient(top, rgb(185, 185, 185),
    rgb(155, 155, 155) );
  text-shadow: 0px 0px 0px;
}

.mode-btn:hover,.btn-stub:hover {
  color: white;
  background-color: rgba(155, 155, 155, 0.98);
  *background-color: rgba(155, 155, 155, 0.98);
}
